[include]
path = ~/.gitconfig.aliases
path = ~/.gitconfig.local

[hub]
protocol = https

[color]
diff = auto
status = auto
branch = auto
ui = true

[core]
abbrev = 12
attributesFile = ~/.gitattributes
autocrlf = input
editor = vim
excludesFile = ~/.gitignore
pager=cat

[apply]
whitespace = nowarn

[mergetool]
keepBackup = false

[difftool]
	prompt = false

[help]
autocorrect = 1

[push]
# See `git help config` (search for push.default)
# for more information on different options of the below setting.
#
# Setting to git 2.0 default to suppress warning message
default = current

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[pull]
rebase = true

[rebase]
autostash = true
autosquash = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    side-by-side = true
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    hyperlinks = true
    ; TODO: git-remote for neovim open
    ; hyperlinks-file-link-format = "nvim://file/{path}:{line}"

[merge]
    conflictstyle = zdiff3

[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[diff]
	tool = nvimdiff
